<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.diabetrics.pos"
        versionCode="12" 
        version   = "1.0.2">

    <!-- versionCode is optional and Android only -->

    <name>D° POS</name>

    <description>
        Aplicación de Diabetrics
    </description>

    <author href="https://build.phonegap.com" email="support@phonegap.com">
        Pedro Ospino 
    </author>
<gap:platform name="ios" />
<gap:platform name="android" />
<preference name="splash-screen-duration" value="1000"/>
<icon src="pin.png" />
<gap:splash src="splash.png" />
<feature name="http://api.phonegap.com/1.0/geolocation"/>
<access origin="*" />
<preference name="android-minSdkVersion" value="11" />
</widget>
